* {

  box-sizing:border-box;
}
div.box{
  width: 280px;
  height: auto;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  padding: 10px;
  font-size: 22px;
  float: left;
  margin: 5px;
  display: inline-block;
}
div.container {
  width: 65%;
  display: inline-block;
  text-align: center;
}

div.main{
  width:100%;
}
p.default{
  margin: 5px;
}
