@import url('https://fonts.googleapis.com/css?family=Roboto');
html,body {
  font-family: Roboto;
  font-size: 16px;
  margin: 0px;
  text-align: center;
  height: calc(100% - 36px);
  background-color: #e6e6e6;
}
ol{
  text-align: left;
  margin-left: 15px;
}
a{
  text-decoration: none;
  color: #000;
}
div#container{
  width: 300px;
  margin: 0 auto;
}
div#container p{
  float: left;
  margin: 0;
  margin-left: 25px;
  margin-top: 5px;
  padding: 0;
}
div#top-bar {
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 54px;
  background-color: #9b59b6;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  position: fixed;
}
div#top-bar img{
  margin: 9px;
  height: 36px;
}
p#name{
  color: #fff;
  display: inline;
  line-height: 20px;
  float: right;
  font-weight: 600;
  margin-right: 5px;
}
img.badge{
  float: right;
  width:30px;
  height: 22px;
}
div#menu-box{
  z-index: 2;
  top: 0;
  float: right;
  max-width: 80%;
  width: 0px;
  background-color: #fff;
  height: 100%;
  position: fixed;
  display: ;
  right: 0;
  box-shadow: -15px 40px 15px -15px;
  transition: width 0.2s;
  overflow-y:auto;
}
div#menu-box p{
  margin-top:60px;
  min-width: 100px;
  padding: 20px;
}
div#menu-box ul{
  margin-top: 54px;
  list-style: none;
  padding-left: 0;
}
div#menu-box li{
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #333;
  margin-left: 12px;
  margin-right: 12px;
}

div#menu-box li a{
  text-decoration: none;
  color: #000;
}
div#menu-box a:hover{
  text-decoration: underline;
}
div#menu-box li ul {
  display: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
div#menu-box li ul li{
  border-style: none;
  margin-left: 0;
  margin-right: 0;
}
div#menu-box li ul li:first-child{
  margin-top: 12px;
}
div#menu-box li ul li:last-child{
  margin-bottom: -12px;
}
li#out{
  position: fixed;
  bottom: 2%;
  width: 276px;
  background-color: #9b59b6;
  color: #fff;
}
img#logo {
  float: left;
}
img#menu {
  float: right;
}
div#main{
  z-index: 0;
  margin-top: 72px;
  height: 100%;
  width:100%;
}
button.function-button{
  background-color: #8e44ad;
  border-radius: 5px;
  border: none;
  color: white;
  width:100px;
  height:36px;
  margin-left: calc(100% - 145px);
  margin-top:10px;

}
#answers {
  display: inline-block;
  max-width: 500px;
}
.answer {
  display: inline-block;
  width: 90%;
  min-width: 300px;
  min-height: 42px;
  background-color: #333;
  color: #fff;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  line-height: 42px;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
  border-radius: 2px;
  position: inline-block;
}
.answer:hover {
  width: 98%;
  background-color:;
}
input{
  height: 30px;
  width: 240px;
  margin-top: 6px;
  padding-left: 12px;
  font-family: DejaVu sans;
}
input.butt{
  background-color: #333;
  border: none;
  border-radius: 2px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  color: white;
  width: 43%;
}
div#question-no{
  background-color: #8e44ad;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  margin-left: 89%;
}
div#question-no p{
  color: #fff;
  margin-right: 0px;
}
div#score-bar{
  width: 8.5%;/*moves the question number 1px right while count+1=10*/
  margin-top: 25px;
  margin-left: 5%;
  margin:-right: 0;
  height: 10px;
  background-color: #8e44ad;
  display: inline-block;
  float: left;
  transition: width 0.7s ease 0.3s;
}
#result{
  display: inline-block;
}
div#footer{
  position: relative;
  width: 100%;
  background-color: #eee;
  margin-top:50px;
}
div#footer a{
  color: #95a5a6;
  text-decoration: none;
}
div#footer p{
  float: right;
  margin: 6px;
}
/*//////////////specific for form/////////////////*/
div#wrap{
  margin: 0 auto;
  border: 1px solid white;
  width: 90%;
  min-width: 300px;
  max-width: 400px;
}
div.style{
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  width: 49%;
  height: 30px;
  min-width: 147px;
  max-width: 297px;
  padding-bottom: 15px;
}
div#multi{
  background-color: #333;
  margin-right: 2px;
  float: left;
  box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}
div#written{
  float: right;
}
div#fill{
  z-index:10;
  margin-top:45px;
  width:100%;
  background-color: #333;
  box-shadow: 0 6px 16px rgba(0,0,0,0.5);
  border-radius: 0 3px 3px 3px;
}
div#sub{
  padding: 10px;
}
div#sub input{
  width:calc(100% - 10px);
  font-family:  DejaVu sans;
  padding: 0;
  background-color: white;
  border-style: none;
  border-radius: 2px;
  padding-left: 10px;
}
div#fill p{
  float: left;
  margin: 2px;
  padding: 0;
}
/*
#FF5722 orange
#3F51B5 blue
#95a5a6 grey

#95a5a6 purple
#333 black
*/
